body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body > #root {
  position: relative;
  height: calc(100vh - 40px);
  top:40px;
  padding: 0;
  margin: 0;
  background-color: yellow;
}

#nav {
  position: fixed;
  top: 0;
  width:100%;
  height: 40px;
  /* margin: 0; */
  /* overflow: hidden; */
  /* padding: 15px; */
  background-color: white;
  /* visibility: hidden; */
}

#nav-items {
  display: flex;
  padding: 10px 25px;
  justify-content: space-between;
}