.round-button {
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 14px;
  }